@import '../../../styles/base/_vars.scss';

.banner {
  position: relative;

  min-height: 100vh;

  background-color: $dune;

  color: $mercuryLight;
}

.logo {
  position: absolute;
  left: 20%;
  top: 40%;

  width: 205px;
  height: 205px;

  border: 1px solid $mercuryLight;

  transform: translateY(-50%) rotateZ(45deg);

  &__circles {
    position: relative;
    top: 50%;
    left: 50%;

    transform: translateY(-50%) translateX(-50%);
  }
}

.name {
  display: flex;
  flex-direction: row;

  position: absolute;
  right: 15%;
  top: 50%;

  transform: translateY(-50%);
}

.firstname,
.lastname {
  font-size: 48px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.firstname {
  margin-top: 15px;
  align-self: flex-start;
}

.lastname {
  margin-bottom: 15px;
  align-self: flex-end;
}

.delimiter {
  margin: 0 20px;

  height: 154px;
  width: 1px;

  background-color: $mercuryLight;
}

.button {
  position: absolute;
  bottom: 40px;
  left: 50%;

  cursor: pointer;

  transform: translateX(-50%);

  &:after {
    content: '';
    display: block;

    width: 55px;
    height: 1px;

    background-color: $mercuryLight;

    transform: translateX(0) translateZ(0) scaleX(1);
    transform-origin: left;

    transition: width $defaultTiming $defaultEasing,
    background-color $defaultTiming $defaultEasing,
    transform $defaultTiming $defaultEasing;
  }

  &__link {
    font-size: 12px;
    color: $mercuryLight;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;

    transition: letter-spacing $defaultTiming $defaultEasing,
    color $defaultTiming $defaultEasing;
  }
}

//.line {
//  position: absolute;
//
//  height: 210px;
//  width: 1px;
//
//  background-color: $mercuryLight;
//
//  &--left {
//    left: 30px;
//    bottom: 0;
//  }
//  &--right {
//    right: 30px;
//    top: 0;
//  }
//}

.button:hover {
  &:after {
    background-color: $mercury;

    transform: translateX(6px) translateZ(0) scaleX(1.2);
  }

  .button__link {
    color: $mercury;
    letter-spacing: 4.4px;
  }
}
