@import '../../styles/base/_vars.scss';

.orderedlist {
  &__list {
    list-style: none;
    counter-reset: item - 1;
  }

  &__item {
    counter-increment: item;
    position: relative;
    display: flex;
    flex-direction: row;


    &:before {
      content: counter(item, decimal-leading-zero);
      margin-left: 10px;

      min-width: 20px;
    }
    &:after {
      content: '';
      display: block;

      position: absolute;
      top: 14px;
      left: 0;

      width: 5px;
      height: 1px;

      background-color: $mercuryLight;
    }
    &-dash {
      margin-top: 13px;
      margin-right: 10px;

      width: 15px;
      height: 1px;

      background-color: $mercuryLight;
    }
  }
  &__text {
    color: $mercuryLight;
  }
  &__title {
    font-family: $secondaryFont;
    font-size: 12px;
    letter-spacing: 3px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
  }
}
