$defaultFont: 'Cormorant Garamond', serif;
$secondaryFont: 'Open Sans', sans-serif;

$extraLargeWidth: 1439px;
$largeWidth: 1179px;
$mediumWidth: 879px;
$smallWidth: 599px;
$extraSmallWidth: 319px;

$white: rgba(255, 255, 255, 1);
$mercuryLight: rgba(231, 231, 231, 0.6);
$mercury: rgba(231, 231, 231, 1);
$dune: rgb(34, 32, 29);
$duneLight: rgba(34, 32, 29, 0.7);

$defaultTiming: 0.5s;
$defaultEasing: cubic-bezier(0.25, 0.1, 0.25, 1);
