$defaultFont: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$extraLargeWidth: 1439px;
$largeWidth: 1179px;
$mediumWidth: 879px;
$smallWidth: 599px;
$extraSmallWidth: 319px;

$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

$defaultTiming: 0.5s;
$defaultEasing: cubic-bezier(0.25, 0.1, 0.25, 1);
