$defaultFont: 'Cormorant Garamond', serif;

$extraLargeWidth: 1439px;
$largeWidth: 1179px;
$mediumWidth: 879px;
$smallWidth: 599px;
$extraSmallWidth: 319px;

$mercuryLight: rgba(231, 231, 231, 0.6);
$mercury: rgba(231, 231, 231, 1);
$dune: rgba(45, 43, 40, 1);

$defaultTiming: 0.5s;
$defaultEasing: cubic-bezier(0.25, 0.1, 0.25, 1);
