@import '../../styles/base/_vars.scss';

.project {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  .col {
  }

  .col--right {
    width: 67%;
  }

  .col--left {
    width: 33%;

    padding-right: 5%;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .image {
    height: 100%;
    width: 100%;
  }
}
