@import '../../../styles/base/_vars.scss';

.slide-inner {
  display: flex;
  flex-direction: row;

  position: relative;

  min-height: 100vh;
  width: 100%;

  padding: 3vh 2vw 3vh 6vw;
}

.container {
  position: relative;

  display: flex;
  flex-direction: row;

  width: 90%;
  height: 100%;

  align-self: center;
}
