@import '../../styles/base/_vars.scss';

.switcher {
  position: absolute;
  right: 0;
  top: 0;

  width: 4vw;
}

.switcher__line {
  height: 44vh;
  width: 1px;

  background-color: $dune;
  opacity: 0.3;
}

.switcher__link {
  display: flex;

  height: 12vh;

  align-items: center;
}

.switcher--white {
  .switcher__line {
    background-color: $mercury;
    opacity: 0.6;
  }
  .link-stretched {
    color: $mercuryLight;
  }
}
