@import '../../styles/base/_vars.scss';

.slide {
  min-height: 100vh;
}

.container {
  position: relative;

  display: flex;
  flex-direction: row;

  padding: 6vh 2vw 16vh;
}

.content {
  width: 50%;

  &--left {
    padding-left: 6vw;
  }
  &--right {
    padding-right: 6vw;
  }
}

/*
.logo {
  position: absolute;
  left: 6%;
  top: 12%;

  width: 180px;
  height: 180px;
}
*/

.tiles {
  display: flex;
  flex-direction: column;
}

.tile {
  width: 330px;
  min-height: 330px;
  height: 100%;

  padding: 20px 40px;

  background-color: $dune;
  box-shadow: -4px 8px 10px 1px transparentize($dune, 0.5);

  color: $mercury;

  &:nth-child(2n+1) {
    align-self: flex-end;

    .tile__text {
      margin-top: 30px;
    }
  }
  &:nth-child(2n+2) {
    align-self: flex-start;

    margin-top: 5vh;

    .tile__text {
      margin-top: 10px;

      opacity: 0.9;

      font-family: $secondaryFont;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.65;
      letter-spacing: 0.3px;
    }
  }
  &__title {
    font-size: 26px;
  }
  &__subtitle {
    font-family: $secondaryFont;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.link {
  display: inline-block;
  position: relative;

  cursor: pointer;

  &__placeholder {
    color: $mercuryLight;
  }
  &__mask {
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;

    transform: translateX(-100%) translateZ(0);
    transition: transform $defaultTiming $defaultEasing;
  }
  &__text {
    display: block;

    color: $mercury;

    transform: translateX(100%) translateZ(0);
    transition: transform $defaultTiming $defaultEasing;
  }
}

.link:hover {
  .link__mask {
    transform: translateX(0) translateZ(0)
  }
  .link__text {
    transform: translateX(0) translateZ(0);
  }
}

.content--reverse {
  .logo {
    right: 6%;
    left: initial;
  }

  .tile {
    box-shadow: 4px 8px 10px 1px transparentize($dune, 0.5);

    color: $mercury;

    &:nth-child(2n+1) {
      align-self: flex-start;

      margin-top: 5vh;
    }
    &:nth-child(2n+2) {
      align-self: flex-end;
    }
  }
}
