{
  "ignore": [],
  "env": {
    "test": {
      "presets": [
        "babel-preset-es2015",
        "babel-preset-react",
        "stage-0"
      ]
    },
    "production": {
      "presets": [
        [
          "babel-preset-es2015",
          {
            "modules": false
          }
        ],
        "babel-preset-react",
        "stage-0"
      ]
    },
    "development": {
      "presets": [
        [
          "babel-preset-es2015",
          {
            "modules": false
          }
        ],
        "babel-preset-react",
        "stage-0"
      ]
    }
  }
}
