@import '../../styles/base/_vars.scss';

.image-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .item {
    min-width: 33%;
    min-height: 265px;
    height: 100%;

    padding: 20px 40px;

    background-color: $dune;
    box-shadow: -4px -4px 12px 1px black;
  }
}
