@import '../../styles/base/_vars.scss';

.request-error {
  width: 100vw;
  height: 100vh;

  background-color: $mercury;

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 100%;
  }
  &__text {
  }
  &__link {
    transition: color $defaultTiming $defaultEasing;

    &:hover {
      color: $duneLight;
    }
  }
}
